# Database
DATABASE_URL="postgresql://user:password@localhost:5432/dealhaven_pro"

# Clerk Authentication
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY="pk_test_dXB3YXJkLWFpcmVkYWxlLTcuY2xlcmsuYWNjb3VudHMuZGV2JA"
CLERK_SECRET_KEY="sk_test_vFK6BXW9PjO97YimtmBNZQhDS1Zi7AmuNPlmriw7yH"

# Firebase web app
NEXT_PUBLIC_FIREBASE_API_KEY="AIzaSyB2mMhlfReNCOWVkURJY39LES92nwDVzw8"
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN="newshop-1e6c8.firebaseapp.com"
NEXT_PUBLIC_FIREBASE_PROJECT_ID="newshop-1e6c8"
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET="newshop-1e6c8.firebasestorage.app"
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID="694427917563"
NEXT_PUBLIC_FIREBASE_APP_ID="1:694427917563:web:24fd44578e4653723d245e"
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID="G-9N3HR7331L"

# Optional Upstash Redis cache
UPSTASH_REDIS_REST_URL=""
UPSTASH_REDIS_REST_TOKEN=""

# Optional Stripe checkout
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=""
STRIPE_SECRET_KEY=""
STRIPE_WEBHOOK_SECRET=""

# Sentry
SENTRY_AUTH_TOKEN="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"
NEXT_PUBLIC_SENTRY_DSN="https://e9d0235fee56f3d5f5eaf9093ce01a31@o4511386075660288.ingest.de.sentry.io/4511386094338128"

# PostHog Analytics
NEXT_PUBLIC_POSTHOG_KEY="phc_wJuJoWmLDDJ3iQ8S3ZxS5BiMeRzwZbGqVENcmCdwshLG"
NEXT_PUBLIC_POSTHOG_HOST="https://us.i.posthog.com"

# Admin
ADMIN_USER_IDS=""

# App
NEXT_PUBLIC_APP_URL="http://localhost:3000"
